---
layout: page
title: Tags
header: Posts By Tag
group: navigation
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort_natural %}

<!-- Tab panes -->
<div class="tab-content col-sm-12">
  {% for tag in site.tags %}
    <div class="tab-pane" id="{{ tag[0] | replace:' ','-' | replace: '.', '-' }}-ref">
      <ul class="list-unstyled">
        {% for post in tag[1] %}{% if post.title != null %}
          <li style="line-height: 35px;"><a href="{{ site.baseurl }}{{post.url}}">{{post.title}}</a> <span class="text-muted">- {{ post.date | date: "%B %d, %Y" }}</span></li>
        {% endif %}{% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>

<div class="col-sm-12">
  {% for item in tag_words %}{% unless forloop.last %}
  <a href="#{{ item | replace:' ','-' | replace: '.', '-' }}-ref" data-toggle="tab"><code><nobr>{{ item }}</nobr></code></a>
  {% endunless %}{% endfor %}
</div>

<div class="clearfix"></div>
